esphome:
  name: co2
  friendly_name: CO2 Sensor

esp32:
  board: esp32dev
  framework:
    type: esp-idf

i2c:
  sda: 21
  scl: 22
  scan: true
  id: bus_a

sensor:
  - platform: scd4x
    i2c_id: bus_a
    address: 0x62
    update_interval: 60s
    co2:
      name: "CO2"
    temperature:
      name: "CO2 Sensor Temperature"
    humidity:
      name: "CO2 Sensor Humidity"
    automatic_self_calibration: true

logger:
  level: WARN

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  power_save_mode: LIGHT
  ap:
    ssid: "Devboard Fallback Hotspot"

api:

web_server:
  port: 80

ota:
  - platform: esphome
    version: 2
